* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'poppins', sans-serif;
}

body {
  background: #cfc8c8;
  color: #fff;
  width: 100%;
}

.navbar {
  background-color: #000;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  height: 10vh;
  width: 100%;
  margin-bottom: 8vh;
  z-index: 1;


}

#home-section {
  padding-top: 12vh;
  width: 100%;
  height: 100vh;
  background-image: url(./images/backgroundimg1.jpg);
  background-size: cover;
}

.logo,
.suffix-logo {
  margin: 0;
  font-size: 1.7rem;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

.logo span {
  color: #e5710b;
  padding: 2px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu ul li {
  margin-right: 2.5rem;
}

.menu ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 500;
  transition: .3s;
}

.menu ul li a:hover {
  color: #e5710b;
}

.menu-btn {
  display: none;
}

.menu-container {
  display: flex;
  justify-content: end;
  text-align: center;
  flex-grow: 1;
}

.menu-container .fa-solid {
  display: none;
}


.home-content {
  line-height: 6vw;
  text-align: left;
  margin-left: 20vw;
  padding-top: 20vh;
  font-size: 2vw;
  margin-bottom: 3vw;

}

.home-content span {
  color: #ff004f;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-icons li {
  list-style: none;
}

.social-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  color: #030303;
  text-decoration: none;
  margin: 0px 5px 0px 0;
  transition: background-color 0.3s ease;
}

.social-icons .insta:hover {
  color: #fff;
  background: linear-gradient(385deg, #ffae3c, #c70e77);
}

.social-icons .linkedin:hover {
  color: #fff;
  background-color: #084799;
}

.social-icons .twiter:hover {
  color: #fff;
  background-color: #1180da;
}

.social-icons .git:hover {
  color: #fff;
  background-color: #181717;
}

.social-icons i {
  font-size: 20px;
}

.download-button {
  display: block;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #1d89fd;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

.download-link {
  display: contents;
  text-decoration: none;
}

.download-button:hover {
  background-color: #2375f2;
}

.download-button:hover .fa-download {
  color: black;
}

.fa-download {
  margin-left: 5px;
}

/* ----------------------------about---------------------------------- */
#about-section {
  height: 100%;
  padding-bottom: 5vh;
  padding-top: 12vh;
  background-color: #000;
}

.sec2-row {
  padding: 2vh 0vw 0vh 0;
  display: flex;
  justify-content: space-between;
  flex-basis: wrap;
}

.sec2-image {
  height: 87vh;
  width: 32vw;
  margin: 0vh 3vw 0 3vw;
  border-radius: 10px;
  transition: 1.5s;
}

.sec2-image:hover {

  transform: rotateY(360deg);
  transition: 1.5s;

}

#about-section .sec-heading {
  font-size: 3rem;
  margin: 0 0 2vh 0;
  color: #e5710b;
  text-align: center;
}

.about-content {
  padding-left: 2vw;
}

.about-content p {
  color: #978f8f;
  text-align: justify;
  margin-top: 1vh;
  font-size: 1.3rem;
  line-height: 2.1rem;
}

#qualification{
  height: 50vh;
}
#experience p {
  color: #fff;
  font-size: 1.5rem;
}

.tab-title {
  margin: 2vh 0 3vh 0;
  color: #958e8e;
  display: flex;

}

.tab-links {
  font-size: 1.5rem;
  margin-right: 20px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -3px;
  transition: 0.5s;
}


.tab-links.active-link::after {
  width: 60%;
}

.tab-contents {
  display: none;
  line-height: 5vh;
}

.tab-contents.active-tab {
  display: block;
}

.tab-contents ul li {
  list-style: none;
  margin: 2vh 0;
  text-align: left;
  text-decoration: none;
  font-size: 1.5rem;
  color: #fff;
}

.tab-contents ul li span {
  color: #fd0c58;
  font-size: 1.2rem;
  font-weight: 500;

}

/* -------------------------------skill------------------------------- */

#skill-section {
  width: 100%;
  height: 100%;
  padding-bottom: 5vh;
  padding-top: 12vh;
}

#skill-section h1 {
  text-align: center;
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 5vh;
}

.skill_article {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.skills-container {
  width: 50vw;
}

.skills-list {
  list-style-type: none;
  padding: 0;
}

ul.skills-list li {
  margin-bottom: 4.5vh;
}

.progress-bar {
  width: 100%;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 0.2rem;
  box-shadow: 3px 3px 8px rgb(63, 62, 62);
}

.progress {
  height: 0.6rem;
  background-color: #007bff;
  border-radius: 5px;
}

.progress.percentage-html {
  width: 90%;
}

.progress.percentage-css {
  width: 80%;
}

.progress.percentage-java {
  width: 90%;
}

.progress.percentage-hibernate {
  width: 75%;
}

.progress.percentage-sql {
  width: 85%;
}

.progress.percentage-servlet {
  width: 60%;
}

.fa-html5 {
  color: red;
}

.fa-css3-alt {
  color: rgb(232, 232, 29);
}

.fa-database {
  color: #ad6cf8;
}

.skill-icon-percentage {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 2rem;
  color: #000;
}

.skill-icon {
  padding-right: 10px;
  font-size: 3rem;
  padding-bottom: 0.5vh;
}

.java-png {
  height: 4.2rem;
  margin-top: -15px;
  margin-left: -5px;
  padding-bottom: 0px;
  position: absolute;
}

.skill-name {
  display: flex;
}

#skill-section.image-container {
  width: 50em;
  text-align: center;
  height: 100vh;
}

.certificate-image {
  max-width: 100%;
  height: 60vh;
  transition: .5s;
}

.certificate-image:hover {
  transform: scale(1.1);
}

/* ------------------------------PROJECT------------------------------------ */

#project-section {
  height: 100%;
  padding-top: 8vh;
  background: #000;
}

#project-section h1 {
  text-align: center;
  padding: 4vh 0 5vh 0;
  font-size: 3rem;
  color: #e5710b;

}

#project-section h2 {
  text-align: center;
  padding: 1vh 0 4vh 0;
  font-size: 2rem;
  text-decoration: underline;
  color: #c0bbbb;
}

.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 4vh;
}

.about-project p {
  text-align: justify;
  padding-right: 2vw;
  font-size: 1.3rem;
  line-height: 1.8rem;
  width: 50vw;
  color: #aaa8a8;
}

.demo-video {
  justify-content: center;
}

video {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #f2f2f2;
  padding: 5px;

}


/* -----------------------------CONTATC---------------------------- */

#contact-section {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 2vw 4vw 0;
  margin: -40px 0 0 20p;
  border-radius: 10px;
  background: #fff;
  box-shadow: 3px 6px 20px rgb(73, 72, 72);
}

form h1 {
  color: #000;
  padding: 1vh 0 3vh;
  font-size: 1.5rem;
  font-weight: 600px;
  margin: auto;
}

form input,
form textarea {
  margin: 1.3vh auto;
  padding: 1.5vh;
  outline: none;
  font-size: 1rem;
  width: 35vw;
  border: none;
  background: #f1f0f0;
  color: #000;
  align-items: center;
}

#contact-section input::placeholder,
textarea::placeholder {
  color: rgb(130, 129, 129);
}

#contact-section input:focus,
textarea:focus {
  border: 1.5px solid #f9125b;
}

#contact-section button {
  width: 10vw;
  cursor: pointer;
  padding: 8px;
  margin: 2.5vh auto 5vh;
  border: none;
  background: #fb4f86;
  color: #fff;
  border-radius: 7px;
  font-size: 1rem;

}

button:hover {
  background: #f9125b;
  transition: 0.5s;
}

/* ---------------------footer------------------------ */
footer {
  background-color: #000;
  color: #a5a0a0;
}

#copy-right p {
  text-align: center;
  padding: 20px;
  font-size: 1rem;
}

#copy-right .red-heart {
  color: #f9125b;
}

                               /* ------------- mobail screen landscape ---------- */
/* ------------------------home------------------------- */
@media only screen  and (max-width: 1060px) {

  .navbar {
    height: 7vw;
  }

  #home-section {
    height: 100vh;
  }

  .logo,
  .suffix-logo {

    font-size: 2rem;
  }

  .menu-container .fa-solid {
    display: none;
  }

  .menu ul li {
    margin-right: 1.3rem;
  }

  .menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 2vw;
    font-weight: 600;
    transition: .3s;
  }

  .home-content {
    margin-left: 15vw;
    padding-top: 10vh;
    margin-bottom: 2vw;
  }

  /* ---------------------------landscape about--------------------------------- */

  #about-section {
    height: 100%;
    padding-bottom: 5vh;
  }
  #about-section .sec-heading {
    font-size: 4vw;
  }
  .sec2-image {
    height: 103vh;
    width: 40vw;
    margin: 4vw 2vw 0 2vw;
    float: left;
    border-radius: 10px;
  }

  .about-content p {
    text-align: justify;
    font-size: 2vw;
    line-height: 1.6rem;
    
  }
  .about-me{
    margin-bottom: 3vh;
  }

  p.tab-links {
    font-size: 3vw;
  }

  .tab-contents ul li {
    margin: 3vh 0;
    line-height: 3vh;
    font-size: 2vw;
    
  }

  .tab-contents ul li span {
    font-size: 2vw;
    line-height: 4vw;
  }
  #experience p{
    font-size: 2vw;
  }

  /* -----------------------landscape skill------------------------- */
  #skill-section {
    height: 100%;
    padding-bottom: 3vh;
  }

  #skill-section h1 {
    font-size: 4vw;
    margin: 0vh 0 5vh 0;
  }

  .skill-icon-percentage {
    font-weight: 600;
    font-size: 1.5rem;
    color: #000;
  }

  .skill-icon {
    font-size: 2rem;
    padding-bottom: 1.5vh;
  }

  .java-png {
    height: 3.3rem;
  }

  .certificate-image {
    height: 60vh;
  }

  /* ----------------------- landscape project------------------------------ */

  #project-section {
    height: 100%;
    padding-bottom: 3vh;
  }

  #project-section h1 {
    font-size: 4vw;
  }

  #project-section h2 {
    padding: 1vh 0 4vh 0;
    font-size: 3vw;
  }

  .about-project p {
    text-align: justify;
    font-size: 2vw;
    line-height: 2.5vw;
    margin-left: -10px;
  }

  .demo-video {
    padding-top: 10vh;
  }

  /* -------------------------------Landscape contact------------------------------ */
  #contact-section {
    height: 100%;
    padding: 18vh 0;
  }

  form {
    width: 55%;
  }

  form input,
  form textarea {
    padding: 1.5vh;
    width: 40vw;
  }

  #contact-section button {
    width: 15vw;
  }

  footer {
    height: 16vh;
  }
}

                                    /* ------------- mobail screen potrat ---------- */

/* -------------------potrat home------------------------ */
@media only screen and (max-width: 650px) {
  .navbar {
    height: 8vh;
  }

  .menu {
    position: fixed;
    height: 100vh;
    width: 50%;
    right: -100vw;
    top: 0;
    background: #958e8e;
    transition: all 0.5s ease;
    padding-top: 30px;
  }

  .menu-container .fa-solid {
    display: block;
  }

  .menu .fa-solid {
    display: block;
    position: absolute;
    top: 25px;
    left: 38vw;
    cursor: pointer;
    font-size: 5vw;
  
  }

  .menu ul {
    display: inline;
    margin-top: 2vh;
    margin-left: 30vw;
  }

  .menu ul li {
    margin: 7vh 17vw;
  }
  .menu ul li a{
    font-size: 5vw;
  }

  .menu-btn {
    display: block;
    cursor: pointer;
    font-size: 1.5rem;
    margin-right: 5vw;

  }

  #home-section {
    height: 100vh;
  }

  .home-content {
    line-height: 7vh;
    margin: 15vh 0vw 8vh 5vw;
    font-size: 2.5vh;
  }

  #home-section {
    padding-top: 12vh;
    width: 100%;
    height: 100vh;
    background-image: url(./images/backgroundimglandscape1.jpg);
    background-size: cover;
  }

  /* -------------------potrat about------------------------ */

  #about-section {
    height: 100%;
    padding-bottom: 2vh;
  }

  .sec2-row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #qualification {
    height: 22vh;
  }

  .sec2-image {
    height: 60vh;
    width: 80vw;
    align-items: center;
  }

  .about-content {
    margin-left: 5px;
    margin-bottom: 10vh;
    
  }

  #about-section .sec-heading {
    font-size: 2.5rem;
    margin-top: -2vh;
  }
  .about-me{
    margin-bottom: 5vh;
  }

  .about-content p {
    font-size: 2.3vh;
    margin-top: -20px;
    padding-right: 12px;
    line-height: 4vh;
  }
  #experience p {
    /* color: #fff; */
    font-size: 2.3vh;
  }

  p.tab-links {
    font-size: 5.3vw;
  }

  .tab-contents ul li {
    line-height: 3vh;
    font-size:2.3vh;
  }

  #experience ul li p {
    margin-top: 1vh;
    line-height: 4vh;
    color: #fff;
  }

  .tab-contents ul li span {
    line-height: 2vh;
    font-size: 2vh;
  }

  /* --------------skill sec-------------- */
  .skill_article {
    flex-direction: column;
  }

  #skill-section {
    height: 100%;
    padding: 9vh 2vw 2vh 2vw;
  }

  #skill-section h1 {
    font-size: 2.5rem;
    margin-bottom: 3vh;
  }

  .skills-container {
    width: 100%;
    margin-bottom: 4vh;
  }

  ul.skills-list li {
    margin-bottom: 2.8vh;
  }

  .skill-icon-percentage {
    margin-bottom: -5px;
  }

  .certificate-image {
    height: 40vh;

  }

  /* ------------------------------potrat project------------------------------ */

  #project-section {
    height: 100%;
    padding-top: 5vh;
  }

  .project {
    flex-direction: column;
  }

  .about-project {
    width: 80vw;
  }

  .about-project p {
    
    font-size: 2.5vh;
    line-height: 4vh;
    width: 97vw;
    margin: auto;
    margin-bottom: -5vh;
    margin-left: -7vw;
  }

  #project-section h1 {
    padding: 4vh 0 0vh 0;
    font-size: 5vh;
  }

  #project-section h2 {
    padding: 0vh 0 2vh 0;
    font-size: 3vh;
  }



  /* ------------------------potrat contact------------------------ */
  #contact-section {
    height: 85vh;
  }

  form {
    width: 95%;
    margin-top: -8vh;
  }

  form input,
  form textarea {
    padding: 1.5vh;
    width: 80vw;
  }

  #contact-section button {
    width: 25vw;
  }

  /* ---------------------------------footer----------------------- */
  footer {
    height: 8vh;
  }

  #copy-right p {
    text-align: center;
    padding: 20px;
  }



}